<!doctype html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Garena liên quân mobile</title>
    {% else %}
    <title>Chào mừng đến với bình nguyên vô tận</title>
    {% endif %}
  </head>
  <body>
    <div>
      Liên Quân:
      <a href="{{ url_for ('index') }}">Trang Chủ</a>
      <a href="{{ url_for ('login') }}">Đăng Nhập</a>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>

